/* HeaderCategory.css */

.Banner {
    background-size: cover;
    display: flex;
    height: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:60px;
    padding-right:60px;
  }
  
  .Arrow {
    cursor: pointer;
  }
  .Arrow:hover{
    color: var(--State-Hover, #82C7D9);
  }
  .Arrow:active{
    color: var(--state-cta-active, #26B3D9);
  }
  
  .CategoryInfo {
  display: flex;
  align-items: center;
  gap: 20px;
  }

  .Title{
    color: var(--Text-Default, #192D2B);
    text-align: center;
    font-family: Lora;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Icon{
    width: 45px;
    height: 45px;
  }