.wrapperFilterMain{
    display: flex;
    padding: 30px 150px 30px 150px;
    justify-content: center;
    align-items: center;
}

.Submit{
    width: 33px;
    height: 33px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: var(--Text-Default, #192D2B);
    background-image: url('../icons/Search.svg');
    background-size: cover;
}