.NavBar{
    display: flex;
    padding: 35px 150px;
    align-items: center;
    gap: 100px;
}

.Router{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap:50px;
    flex: 1 0 0;
}

.HomeLink{
    color: var(--Text-Default, #192D2B);
    font-family: Lora;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    width: 100px;
    height: 60px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.SearchLink{
    color: var(--Text-Default, #192D2B);
    font-family: Lora;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    display: flex;
    width: 100px;
    height: 60px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.Logo{
    cursor:pointer;
    color: var(--Text-Default, #192D2B);
    width: 300px;
}

.IconLinkHome{
    cursor:pointer;
    width: 25px;
    height: 25px;
}

.IconLinkSearch{
    cursor:pointer;
    width: 22px;
    height: 22px;
}

.HomeLink:hover{
    color: var(--State-Hover, #82C7D9);
}

.SearchLink:hover{
    color: var(--State-Hover, #82C7D9);
}

.Logo:hover{
    color: var(--State-Hover, #82C7D9);
}

.HomeLink:hover > .IconLinkHome{
    color: var(--State-Hover, #82C7D9);
}

.SearchLink:hover > .IconLinkSearch{
    color: var(--State-Hover, #82C7D9);
}

.HomeLink:active{
    color: var(--state-cta-active, #26B3D9);
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}

.SearchLink:active{
    color: var(--state-cta-active, #26B3D9);
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
}

.Logo:active{
    color: var(--state-cta-active, #26B3D9);
}

.HomeLink:active > .IconLinkHome{
    color: var(--state-cta-active, #26B3D9);
}

.SearchLink:active > .IconLinkSearch{
    color: var(--state-cta-active, #26B3D9);
}